{{ define "uploadDownloadView/redictWithToken.html" }}
<html>
<head>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
</head>
<body>
<div id="message"></div> <!-- 添加一个用于显示响应数据的div元素 -->
<script>
            var storedToken = localStorage.getItem('token'); // 从LocalStorage中获取token
            $.ajax({
                url: "/showFiles",
                type: "GET",
                beforeSend: function(request) {
                    request.setRequestHeader("Authorization", "Bearer " + storedToken); // 在请求头中设置Authorization字段：token
                },
                success: function(response) {
                    $('#message').html(response); // 使用html()函数将响应的HTML格式数据显示在页面上
                },
                error: function(xhr, status, error) {
                    var responseJson = JSON.parse(xhr.responseText).message;
                    $('#message').text("Error: " + responseJson);
                }
            });
</script>
</body>
</html>
{{ end }}